<h1>Contact info</h1>
	<p>
		<a href="http://www.facebook.com/yuriy.lavor">Yuriy Lavor</a>
	</p>

	<p>
		<a href="http://www.facebook.com/artem.ustimenko.5">Artem Ustimenko</a>
	</p>

	<p>
		<a href="http://www.facebook.com/inpopov">Ivan Popov</a>
	</p>

	
	<p>
		<a href="http://www.facebook.com/novitskiy">George Novitskiy</a>
	</p>
	

	<p>
		<a href="http://www.facebook.com/agaputin">Alex Gaputin</a>
	</p>
	
	<p>
		<a href="http://www.facebook.com/artem.morozov.125">Artem Morozov</a>
	</p>
	

	<p>
		<a href="http://www.facebook.com/marcus.carter.52">Roman T.</a>
	</p>
	
	<p>
		<a href="http://www.facebook.com/maxim.pokidaylo">Maxim Pokidaylo</a>
	</p>
</p>
