<article class="media">
	<div class="pull-left">
		<%= link_to (image_tag current_user.img_url, class: "img-rounded", size: "50x40"), 
			current_user.profile_url %>
	</div>
	<div class="media-body">
		<%= form_for @share, remote: true do |f| %>
			<%= f.text_area :content, rows: 2, class: "span6", placeholder: "Share an event..." %>
			<div class="text-error hide" id="error">
				Cannot be blank.
			</div>
			<%= f.submit "Post", :class => 'btn btn-primary', id: "post_button", class: "hide" %>
		<% end %>
	</div>
</article>
