<% if @share.errors.empty? %>
	$("#shares").prepend("<%= escape_javascript(render @share) %>")
	$("#share-modal").modal("hide")
	$("#shares-count").text("<%= @count %>")

	// clean up form
	$("#errors").html("")
	$("#share_date").val("")
	$("#share_url").val("")
	$("#share_content").val("")
<% else %>
	$("#errors").html("")
	<% @share.errors.full_messages.each do |error| %>
			$("#errors").append("<p class='text-error'><%= error %></p>")
	<% end %>
<% end %>

$("#share-button").button("reset")