<li>
	<a rel="popover" data-placement="bottom" 
							data-content="<div class='text-center'><a href='/signout'>Sign out</a></div>">
		<%= image_tag(current_user.img_url, size: "20x20") %>
		<%= current_user.name %>
	</a>
</li>