<footer id="footer">
<div class="container">
<div class="row">
<div class="offset1 span10">
<%= link_to "Contact", "/contact" %> <span class="muted"> | </span> 
<a href="#donate-modal" data-toggle="modal" data-keyboard="true">Donate</a>
</div>
</div>

</div>
<div id="donate-modal" class="modal fade hide" data-keyboard="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
<h3>Make a donation</h3>
</div>

<div class="modal-body">
<p>Give us all your money muahahaha!</p>
<%= render 'shared/donate' %>
</div>

</div>
</div>
</footer>